* {
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
}
body {
  background-image: url(../images/background-photo.jpeg);
  background-size: 100%;
  font-family: "Open Sans", sans-serif;
}

/*page title*/
.totd {
  font-size: 80px;
  font-family: "Cinzel", sans-serif;
  text-align: center;
  margin: 3rem;
}
/*nav*/
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 2rem;
}

header nav ul li a {
  padding: 10px 10px;
  font-size: 1.8vw;
  color: #f94d00;
  text-decoration: none;
  font-family: "Cinzel", sans-serif;
}

header nav ul li a:hover {
  color: black;
  text-shadow: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.description {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 5px 20px;
  border: 3px solid black;
  border-radius: 15px;
  margin: 30px 50px;
  background-color: #ffffff;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*search container as whole*/

.search-css {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.list {
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-align: left;
  padding: 0;
}

.subtitle {
  margin-bottom: 0.75rem;
}


.form-group {
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
}

.form-input {
  border: 1px solid;
  border-radius: 15px;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
}

.button {
  width: 50%;
  background-color: #f94d00;
  border-radius: 15px;
  padding: 5px 5px;
  margin: 3% 25% 2% 25%;
  font-size: 16px;
  font-weight: 800;
  color: white;
}

#search-container {
  font-family: "Open Sans", sans-serif;
  padding: 10px 0;
  background-color: #ffffff;
  text-align: center;
  font-weight: 800;
  width: 100%;
}

#search-form {
  padding: 0;
}

#search-results-container {
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  background-color: #ffffff;
  border-top: 3px solid black;
  text-align: center;
}

#search-results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

#recipe-search-term {
  font-family: "Open Sans", sans-serif;
  align-items: left;
}

.search-list-item {
  position: relative;
  display: block;
  padding: 0.5rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

/*calendar as whole*/
.calendar-group {
  margin: 50px 30px;
}

.current-date {
  padding: 10px 0;
  font-family: "Cinzel", sans-serif;
  text-align: center;
}

#calendar-container {
  font-family: "Open Sans", serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 20px 20px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* calendar by day */
.day-of-week {
  border: 3px solid black;
  border-radius: 15px;
  padding: 0;
  margin: auto;
  min-width: 14%;
  min-height: 22rem;
}

.day-header {
  background-color: #0c94fa;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #ffffff;
  width: 100%;
  padding: 0.75rem 1.25rem;
  text-align: center;
}

.day-header-current {
  background-color: #f94d00;
  text-align: center;
}

.list-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

ul.list-group {
  min-width: 20rem;
  min-height: 130px;
  max-width: 21px;
  text-align: left;
  list-style: none;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.recipe-name {
  font-weight: 700;
}

/*trash*/
#recipe-trash {
  margin: 0 auto 50px;
  text-align: center;
}

/*footer*/
footer {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer p {
  font-size: 15px;
  margin: 0;
  font-family: "Open Sans";
}

/*ui*/
.dropover {
    background-color: rgba(0,0,0,0.3);
  }
  
  .dropover-active {
    background-color: rgba(0,0,0,0.9);
  }

  .container{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 0.9;
    background: #222;
    z-index: 40000;
    top:0;
    left: 0;
    overflow: hidden;
  
    animation-name: fadeIn_Container;
    animation-duration: 1s;
  }
  
  .modal{
    display:none;
    top: 0;
    min-width: 250px;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    position: fixed;
    z-index: 40001;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    margin-top: 30px;
    margin-left: 10%;
  
    animation-name: fadeIn_Modal;
    animation-duration: 0.8s;
  }

  #single-recipe-container{
      font-size: 16px;
      font-weight: 300;
      padding: 0;
      text-align: left;
      list-style-position: inside;
      margin-bottom: 10px;
  }

  .single-recipe-container ul{
    margin: 10px;
  }  

  .recipe-title{
      font-weight: 600;
      margin-bottom: 5px;
  }

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .totd {
    margin: 0;
    text-align: center;
    font-size: 60px;
}
header nav ul li a {
font-size: 20px;  
}

body {
    background-size: 100%;
}
.description{
    width: 100%;
    margin: 0;
}
.search-css {
    width: 100%;
    text-align: center;
    justify-content: center;
}
.list-group {
    flex: 0 100%;
    text-align: center;
    justify-content: center;
}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .totd {
    margin: 0;
    text-align: center;
    font-size: 60px;
}
header nav ul li a {
font-size: 20px;  
}

body {
    background-size: 100%;
}
.description{
    width: 100%;
    margin: 0;
}
.search-css {
    width: 100%;
    text-align: center;
    justify-content: center;
}
.list-group {
    flex: 0 100%;
    text-align: center;
    justify-content: center;
}
}

  @media screen and (max-width: 575px) {
    .totd {
        margin: 0;
        text-align: center;
        font-size: 60px;
    }
    header nav ul li a {
    font-size: 20px;  
    }

    body {
        background-size: 100%;
    }
    .description{
        width: 100%;
        margin: 0;
    }
    .search-css {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .list-group {
        flex: 0 100%;
        text-align: center;
        justify-content: center;
    }
}
