* {
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
}
/*page title*/
.totd {
    font-size: 60px;
    font-family: 'Cinzel', serif;
    text-align: center;
    
}
/*nav buttons*/
.nav-css{
    text-align: left;
    font-family: "Open Sans"; ;
    margin: 20px;
    padding: 20px 0 30px;
}

.description{
    font-family: "Open Sans"; ;
    font-size: 14px;
    padding: 10px 5px 20px;
    border: 1px solid black;
    margin: 30px 50px;
}

/*search container as whole*/

.search-css {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

#search-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
   padding: 10px;
    justify-content: space-between;
}

#search-results-container{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
  padding: 10px;
    justify-content: space-between;
}

/*calendar as whole*/
#calendar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
    margin: 50px 30px;
}
/* calendar by day */
 #sunday-container {
     border: 1px solid black;
 }
 #monday-container {
    border: 1px solid black;
}
#tuesday-container {
    border: 1px solid black;
}
#wednesday-container {
    border: 1px solid black;
}
#thursday-container {
    border: 1px solid black;
}
#friday-container {
    border: 1px solid black;
}
#saturday-container {
    border: 1px solid black;
}

/*trash*/
#recipe-trash{
    margin: 0 auto 50px;
}

/*footer*/
footer {
    width: 100%;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer p {
    font-size: 15px;
    margin: 0;
    font-family: "Open Sans"; ;
}